.nav_container{
    width: 200px;
    position: fixed;
    height: 100%;
    left: 0;
    background: #3F5765;
    
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #333;
}
li a{
    color:#aaa;
    text-decoration: none;
}
li a.active{
    color: #fff;
}
button{
    margin: 20px;
    border: 0;
    outline: none;
    padding: 5px 10px;
    background: #7aa0b6;
}