<div class="nav_container">
<ul>
    <li><a  routerLink="home" routerLinkActive="active" >home </a> </li>
    <li><a  routerLink="app" routerLinkActive="active" >app </a> </li>
    <li><a  routerLink="directive" routerLinkActive="active" >directive </a> </li>
    <li><a  routerLink="renderer" routerLinkActive="active" >renderer </a> </li>
    <li><a  routerLink="exercise02" routerLinkActive="active" >exercise 02 </a> </li>
    
    <!-- <button  [@menuanim]="state" (click)="animateme()" > animation test </button> -->
</ul>
  </div>